@using StudentManagement.Helpers
@model IEnumerable<StudentManagement.ViewModels.Student.StudentViewModel>

@{
    ViewData["Title"] = "Students";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Students</h2>
    
    @if (User.IsInRole(Roles.Admin))
    {
        <a asp-action="Create" class="btn btn-success">Add Student</a>
    }
    
</div>

@if (!Model.Any())
{
    <div class="alert alert-info">
        No students have been added yet.
    </div>
}
else
{
    <table class="table table-striped table-bordered">

        <thead>
            <tr>
                <th>Student Number</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th width="190"></th>
            </tr>
        </thead>


        <tbody>

            @foreach (var student in Model)
            {
                <tr>

                    <td>@student.StudentNumber</td>

                    <td>@student.FullName</td>

                    <td>@student.Email</td>

                    <td>@student.Gender</td>

                    <td>
                        <div class="btn-group">
                            <a asp-action="Details" asp-route-id="@student.Id" class="btn btn-info btn-sm"> Details </a>
                            
                            @if(User.IsInRole(Roles.Admin))
                            {
                                <a asp-action="Edit" asp-route-id="@student.Id" class="btn btn-warning btn-sm">Edit</a>

                                <a asp-action="Delete" asp-route-id="@student.Id" class="btn btn-danger btn-sm">Delete</a>
                            }
                           
                        </div>
                        

                    </td>

                </tr>
            }

        </tbody>

    </table>
}

